<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
        photoCover="https://www.pngkey.com/png/detail/233-2332677_ega-png.png"
        cardTitle="Lorem Ipsum"
        cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit.sdsdsd sdsfafafasfasfsafasfaasfasfasfsa"     
        >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card 
        photoCover="https://th.bing.com/th/id/OIP.TSnNo6ZskSPA7M5Weoc5LgHaEK?pid=ImgDet&rs=1"
        smallCardTitle="Lorem Ipsum"
        ></app-small-card>
        <app-small-card
        photoCover="https://th.bing.com/th/id/R.d2ec021d96ad045963e2a37dc074c496?rik=1WJbS%2b1XxCQl9Q&pid=ImgRaw&r=0"
        smallCardTitle="Lorem Ipsum"
        >
        </app-small-card>
        <app-small-card
        photoCover="https://th.bing.com/th/id/OIP.nef8or0QlD7rh3dGz39t5QHaDt?pid=ImgDet&w=1508&h=754&rs=1"
        smallCardTitle="Lorem Ipsum"
        ></app-small-card>
    </div>

</div>

<router-outlet></router-outlet>
